.sagar {
  width: 62px;
  height: 25px;
  background: #142850;
  border-radius: 16px;
}
.pako {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  margin-top: 2px;
}
.content-center {
  margin-top: 25px;
  gap: 25px;
  display: flex;
  align-items: center;
}
.dashboard {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  color: #8695a4;
}
.imgpara {
  margin-top: 25px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243d;
}
